<html>
    <head>
        <title>
            Login page
        </title>
    </head>
    <body>
        <h1>Login Page --- <a href="{% url 'crud:home' %}"> Home </a></h1>
        <form action="{% url 'crud:login_create' %}" method="POST">
            {% csrf_token %}
        {% for fields in form %}
        <label for="{{fields.id_for_label}}"> {{ fields.label }}</label>
        <span>{{fields}}-> </span><br>
        {{ fields.errors }}
        {% endfor %}

        <button type="submit" > Send</button>
    </form>
    </body>


</html>